body {
    font-family: Arial, sans-serif;
    background-color: #D3D3D3 ;
    color: #333; 
    margin: 20px; 

h1 {
    color: blue;
    text-align: center;
}

p {
    font-size: 16px; 
    line-height: 1.5; 
}

#btnClick {
    border-radius: 10px;
    border: solid red 1px;
    padding: 15px;
}
